@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-long-right.css');

* {
    margin: auto;
    padding: 0;
}

header nav {
    display:flex
}

nav li{
    list-style: none;
}

div {
    justify-content: space-evenly;
    margin: auto 500px;
    
}